
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  margin-top: auto;
}
.AppContainer{
  margin: 0px 5%;
  flex:1;
}
.sliderContainer > *{

}
.sliderImg{
height: 250px;
}